@import "lib/style/vars.scss";

.auth {

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &_title {
    margin-bottom: 2rem !important;
    font-family: $font-medium-serif;
    text-transform: uppercase;
    font-size: 1.5rem !important;
    text-align: center;
    cursor: default;
    color: darken($gray-color, 15%);
  }
  &-form {
    &_item {
      position: relative !important;
      margin-top: 0.8rem !important;
      margin-bottom: 0.8rem !important;
      &:first-child {
        margin-top: 0 !important;
      }
      &:last-child {
        margin-bottom: 0 !important;
      }
    }
    button {
      margin-top: 2rem !important;
    }
  }
  &-error {
    position: absolute;
    color: #f44336;
    font-size: 0.75rem;
    font-family: $font-regular;
    top: 4rem;
    right: 0;
  }
}
